@use 'sass:map';

.pagination {
  display: flex;
  gap: 8px; /* Tăng khoảng cách giữa các nút */
  margin-top: 10px;
  justify-content: center;
  align-items: center;

  button {
    border: none;
    background-color: rgb(180, 180, 180);
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: rgb(120, 120, 120);
      transform: translateY(-2px);
    }

    &.active {
      background-color: rgb(7, 139, 0);
      font-weight: bold;
    }

    &:disabled {
      background-color: rgb(194, 192, 192);
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
