$theme-colors: (
  'main': #029a14,
  'normal-text': #1c1c1c,
  'bold-text': #252525,
  'custom': #706300,
  'light-custom': #a17900,
);

.navigation {
  font-weight: 600;
  border-bottom: 2px solid rgb(169, 168, 168);
  margin-bottom: 5px;
  font-size: 17px;

  .nav-shop-management,
  .nav-shop-registration,
  .nav-item-creation,
  .nav-my-shop {
    color: rgb(162, 162, 162);
    text-decoration: none;
    &:hover {
      color: rgb(31, 30, 43);
    }
  }

  .nav-icon {
    color: rgb(162, 162, 162);
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 10px 0;
  border-radius: 2px;
}