@use 'sass:map';
@import '../../style/pages/theme.scss';

.footer {
  .container-fluid {
    background-color: #f8f9fa;
    padding: 10px 0;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    .col {
      flex: 1 1 45%;
      max-width: 100%;
      margin-bottom: 10px;
      text-align: left;

      h5,
      ul {
        margin-left: 10px;
      }

      ul {
        margin-bottom: 0;
        margin-left: 20px;

        li {
          font-size: 14px;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: rgb(2, 23, 66);
          }
        }
      }

      h5 {
        margin-top: 0;
        margin-left: 20px;
        font-size: 16px;
      }
    }

    .no-bullet-list {
      list-style: none;
      padding: 0;
      color: rgb(138, 141, 141);
    }
  }

  @media (max-width: 992px) {
    .row {
      flex-wrap: wrap;
      gap: 24px;

      .col {
        max-width: 100%;
        flex: 1 1 45%;
        margin-bottom: 10px;

        h5,
        ul {
          margin-left: 10px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      gap: 20px;
      max-width: 100%;
    }
  }

  @media (max-width: 576px) {
    .container-fluid {
      padding: 10px 0 0 0;
    }

    .row {
      flex-direction: column;
      gap: 12px;

      .col {
        max-width: 100%;
        flex: 1 1 100%;
        margin-bottom: 0;

        h5,
        ul {
          margin-left: 0;
        }

        h5 {
          font-size: 15px;
        }

        ul li {
          font-size: 13px;
        }
      }
    }

    .no-bullet-list {
      padding-left: 0;
      margin-left: 0;
    }
  }
}
