html, body {
    height: 100%;
    margin: 0;
}

.master-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.main-content {
    flex: 1; /* đưa footer xuống cuối trang */
    display: flex;
}
